

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v34-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@font-face {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/italiana-v16-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/italiana-v16-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    background-color: #0d0d0d;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans';
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.img {
    width: 500px;
    height: 500px;
    background-color: hsl(0, 0%, 50%);
}

/* header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: hsl(0, 0%, 5%);
    padding-bottom: 20px;
}

nav ul {
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

h1 {
    font-family: 'Italiana';
    font-weight: lighter;
}

h2 {
    font-size: 35px;
    text-transform: uppercase;
}

.max-width {
    max-width: 1400px;
    margin: 100px auto 150px auto;
}

.underline-animation {
    display: inline-block;
    position: relative;
}

.underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* intro */

.intro {
    display: flex;
    gap: 150px;
    align-items: center;
}

.transparent {
    width: 500px;
    height: 500px;
    background-color: hsl(0, 0%, 0%);
    opacity: 0;
}

.bg {
    margin-top: -70px;
    height: 48vw;
    width: 98vw;
    object-fit: cover;
    background: black;
    overflow: hidden;
    z-index: -1;
    position: absolute;
}

.bg img {
    object-fit: cover;
    opacity: 0.5;
}

.intro__name {
    width: 450px;
}

.name {
    font-size: 90px;
    margin-bottom: -30px;
}

.intro__name p {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 40px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.socials a:first-child {
    width: 50px;
    aspect-ratio: 1/1;
}

.socials a:last-child {
    width: 30px;
    aspect-ratio: 1/1;
}

.socials a:hover {
    opacity: 50%;
}


/* about */

.about {
    display: flex;
    justify-content: space-evenly;
}

.about__text {
    width: 400px;
}

.about__text h2 {
    margin-bottom: 40px;
}

.about__text p {
    margin: 20px 0px;
}

.about a {
    text-decoration: underline;
}

/* skills */

.skills {
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    max-width: 1100px;
}

.skills__title {

}

.skills__title h2 {
    margin-bottom: -70px;
    position: relative;
    
}

span {
    color: hsl(0, 0%, 0%);
    -webkit-text-fill-color: hsla(0, 0%, 100%, 0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: hsl(0, 0%, 36%);
    font-size: 150px;
    text-transform: uppercase;
    z-index: -1;
}

.skills__image {
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.skills__image img {
    filter: grayscale(100%);
    width: 150px;
    aspect-ratio: 1;

}

.skills__image img:hover {
    filter: grayscale(0%);
}

/* projects */

/*.article-project {
    margin-top: 200px;
} */

.project_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.blur {
    text-transform: uppercase;
    font-weight: bold;
    color: hsl(0, 0%, 36%);
    font-size: 150px;
    letter-spacing: 15px;
    filter: blur(12px);
    margin-top: -140px;
    z-index: -1;
}

.projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project__text {
    width: 300px;
    
}

/* service */
.background {
    background-color: hsl(0, 0%, 10%);
    
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
}

.service h2 {
    margin-bottom: 150px;
}

.service img {
    width: 50px;
    height: 40px;
    margin-bottom: 10px;
}

.service__text {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.service__text > div {
    width: 300px;
}

.text__title {
    background: hsl(0, 0%, 45%);
    color: black;
    padding: 20px;
    margin-bottom: -15px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text__title strong {
    font-size: 18px;
}

.service__text p {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    height: 220px;
}


/* contact */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.contect__content {
    display: flex;
    gap: 200px;
    margin-top: 50px;
}

.contact__text {
    width: 400px;

}

.contact__text p:first-child {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
}

form input, textarea {
    background-color: hsl(0, 0%, 24%);
    border: none;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    width: 500px;
}

.button {
    width: 100px;
}

form > div {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
